@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Shrikhand&display=swap");
html, body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  height: 100%;
  margin: 0;
  padding: 0;
}

figure, img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

p, i, h3 {
  margin: 0;
  padding: 0;
  font-style: normal;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  height: 100%;
}

/*--------------------------mes variables*/
/*MES COULEURS*/
/*--------------------------------MES MIXINS*/
/*MES FONTS*/
/* ici, l'on peut améliorer ce code avec des variables, relire la partie sur les mixins*/
/*mes font-size*/
/*Mes radius*/
/*mes ombres*/
html {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
}

.background {
  width: 100%;
  margin: 0 auto;
}
.background--darker {
  background-color: #F7F7F7;
}
.background--moredarker {
  background: #eaeaea;
}
.background--white {
  background: #fff;
}
.background--black {
  background: #393939;
  color: #fff;
}

.container {
  margin: 0 auto;
  padding: 1rem 0;
  width: 65%;
}

/* responsive*/
@media screen and (max-width: 1247px) {
  .mobile-disable {
    display: none;
  }
}
@media screen and (max-width: 750px) and (max-width: 1622px) {
  .container {
    width: 99%;
  }
}
@media screen and (min-width: 1700px) {
  .container {
    max-width: 1090px;
  }
}
/*------------------------------------- le vrac*/
/*----la home */
.home-top {
  width: fit-content;
  color: #393939;
  margin: 0 auto;
}
.home-top i.fas {
  margin-right: 0.8rem;
}
.home-top p {
  font-size: 13px;
}

.home-hero {
  padding: 8rem 1rem;
  text-align: center;
  text-shadow: #F7F7F7 1px 0 10px;
}

@media screen and (max-width: 720px) {
  .home-hero {
    height: 50vh;
    padding: 2rem;
    text-align: center;
  }
}
@media screen and (min-width: 720px) {
  .desktop-bg {
    background: linear-gradient(rgba(253, 253, 253, 0.8), rgba(255, 255, 255, 0.5)), url("https://placekitten.com/1900/800");
  }
}
/*le CTA*/
.button {
  width: 280px;
  margin: 10px auto;
  white-space: nowrap;
}
.button > button {
  display: block;
  width: fit-content;
  height: 3rem;
  padding: 1rem 2rem;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 1.2rem;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 1.2rem;
  font-weight: 300;
  font-size: 15px;
  font-weight: 700;
  border-radius: 50px;
  box-shadow: 2px 3px 20px #dfdfdf;
  background: linear-gradient(45deg, #DA86DF, #9B77D4);
}
.button > button:hover {
  background: linear-gradient(45deg, #9B77D4, #DA86DF);
  -webkit-animation: bounce-top-fade 1.2s ease-in-out both;
  animation: bounce-top-fade 1.2s ease-in-out both;
}

/* le bouton-a : gris-violet*/
.btn-a {
  background-color: #F7F7F7;
  width: 280px;
  height: 5rem;
  border-radius: 20px;
  box-shadow: 2px 3px 20px #dfdfdf;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: baseline;
}
.btn-a_txt {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 1.2rem;
  font-weight: 300;
  font-size: 15px;
  align-self: center;
}
.btn-a_icone {
  color: #393939;
  font-size: 1.2rem;
  align-self: center;
}
.btn-a:hover {
  background: #fae9fb;
  -webkit-animation: fadein 0.5s ease-in;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s ease-in;
  /* Firefox < 16 */
  -o-animation: fadein 0.5s ease-in;
  /* Opera < 12.1 */
  animation: fadein 0.5s ease-in;
}

.list-number {
  width: 1.9rem;
  height: fit-content;
  padding: 2%;
  border-radius: 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 1.2rem;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
  font-size: 13px;
  text-align: center;
  background: #9B77D4;
  display: flex;
  justify-content: center;
  align-content: baseline;
  align-self: center;
  margin-left: -2rem;
  z-index: 99;
}

/* la box-prev : pour présenter les différents restaurants*/
.box-prev {
  width: 280px;
  height: 14rem;
  margin: 20px auto;
  background: #fff;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 2px 3px 20px #ececec;
}
.box-prev_figure {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
.box-prev_figureimg {
  width: 100%;
  margin: 0;
  padding: 0;
}
.box-prev_description {
  width: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
  padding: 2% 5%;
  position: relative;
}
.box-prev_description h3 {
  font-size: 15px;
}
.box-prev_description h3 strong {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 1.2rem;
  font-weight: 300;
  font-size: 15px;
  font-weight: 700;
}
.box-prev_description .heart .far {
  font-size: 20px;
  position: absolute;
  top: 14px;
  left: 230px;
  opacity: 1;
}
.box-prev_description .heart .far:hover, .box-prev_description .heart .far:active {
  opacity: 0;
}
.box-prev_description .heart .fas {
  font-size: 20px;
  position: absolute;
  top: 14px;
  left: 230px;
  opacity: 0;
  z-index: 10;
}
.box-prev_description .heart .fas:hover, .box-prev_description .heart .fas:active {
  opacity: 1;
  color: #9B77D4;
}
.box-prev_new-tag {
  width: fit-content;
  height: fit-content;
  padding: 2% 4%;
  border-radius: 3px;
  background: #8ADDC6;
  color: #237860;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 1.2rem;
  font-weight: 300;
  font-size: 15px;
  font-weight: 700;
  position: relative;
  top: -13rem;
  left: 65%;
  z-index: 2;
}

.mobile-disable {
  filter: grayscale(50%);
  background: linear-gradient(0.25turn, #f2f2f2, #fcfcfc, #eaeaea, #e3e3e3);
  border: 1px solid #ededed;
}
.mobile-disable .box-prev_figure {
  opacity: 0.5;
}
.mobile-disable .box-prev_description {
  color: #919191;
}
.mobile-disable .box-prev_description .heart:hover .far {
  opacity: 1;
}
.mobile-disable .box-prev_description .heart:hover .fas {
  display: none;
}
.mobile-disable .box-prev_new-tag {
  filter: grayscale(1);
}
.mobile-disable .box-prev_new-tag p {
  opacity: 0.8;
  padding: 0 8px;
}

/* le bouton-c : dropdown vert*/
.btn-c {
  background-color: #fff;
  width: 280px;
  height: 5rem;
  margin: 20px auto;
  padding-left: 1rem;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 2px 3px 20px #ececec;
  /* le bouton vert*/
}
.btn-c_container {
  margin-top: 1.2rem;
  width: 100%;
}
.btn-c_container p {
  width: 100%;
  padding: 0;
}
.btn-c_container_heading {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 1.2rem;
  font-weight: 300;
  font-size: 15px;
  font-weight: 700;
}
.btn-c_container_definition {
  margin-top: 0.5rem;
  overflow: hidden;
}
.btn-c_container_price {
  margin: 0.5rem 0 1rem 0;
  flex-shrink: 6;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 1.2rem;
  font-weight: 300;
  font-size: 15px;
  font-weight: 700;
}
.btn-c_drop-over {
  width: 0;
  height: 100%;
  display: initial;
  border-radius: 0 20px 20px 0;
  padding: 0;
  background: #8ADDC6;
}
.btn-c_drop-over i {
  color: #fff;
  opacity: 0;
}

/*L'animation*/
.btn-c:hover .btn-c_container {
  width: 80%;
}
.btn-c:hover .btn-c_container_definition {
  width: 95%;
  padding: 0 1rem 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-c:hover .btn-c_drop-over {
  width: 5rem;
  -webkit-animation: scale-up-hor-right 0.5s ease-in-out;
  animation: scale-up-hor-right 0.5s ease-in-out;
}
.btn-c:hover .btn-c_drop-over i {
  opacity: 1;
  position: relative;
  top: 37%;
  left: 37%;
  -webkit-animation: rotate-in-center 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: rotate-in-center 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* les animations*/
@-webkit-keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}
@-moz-keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}
@-webkit-keyframes scale-up-hor-right {
  0% {
    -webkit-transform: translateX(3rem);
    transform: translateX(3rem);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes bounce-top-fade {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0.3;
  }
  24% {
    opacity: 0.8;
  }
  40% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@-moz-keyframes bounce-top-fade {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0.3;
  }
  24% {
    opacity: 0.8;
  }
  40% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top-fade {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0.3;
  }
  24% {
    opacity: 0.8;
  }
  40% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;}
    75% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }

@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;}
    75% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }

@keyframes fadein {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
/* le footer*/
footer div {
  padding: 0.5rem 0 0.2rem;
}
footer div nav div h4 {
  font-size: 20px;
  font-family: "Shrikhand", sans-serif;
  letter-spacing: 1px;
  margin: 0 auto;
}
footer div {
  margin: 0 auto;
}
footer div nav {
  margin: 0 auto;
}
footer div nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 0;
}
footer div nav ul li {
  list-style: none;
  margin: 0 auto 2rem;
}
footer div nav ul li a {
  color: inherit;
  text-decoration: none;
}
footer div nav ul li a:hover {
  color: #DA86DF;
}

/*---------------------------------------- les flexboxes*/
.flex {
  display: flex;
}

/*flex-direction*/
.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.row-reverse {
  flex-direction: row-reverse;
}

.column-reverse {
  flex-direction: column-reverse;
}

/*flex-wrap §flex-flow*/
.nowrap {
  flex-wrap: nowrap;
}

.wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.row-wrap {
  flex-flow: row wrap;
}

.column-wrap {
  flex-flow: column wrap;
}

/*justify content*/
.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-evently {
  justify-content: space-evenly;
}

.justify-around {
  justify-content: space-around;
}

/*align-items*/
.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

/*align content*/
.content-start {
  align-content: start;
}

.content-end {
  align-content: end;
}

.content-center {
  align-content: center;
}

.content-between {
  align-content: space-between;
}

.content-around {
  align-content: space-around;
}

/*align-self*/
.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-center {
  align-self: center;
}

.self-baseline {
  align-self: baseline;
}

.self-stretch {
  align-self: stretch;
}

/*order*/
.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

/*flex-grow & flex-shink */
.grow-3 {
  flex-grow: 3;
}

.shrink-3 {
  flex-shrink: 3;
}

.basis-auto {
  flex-basis: auto;
}

/*-------------------------------------les gap*/
.gap-20px {
  row-gap: 20px;
}

/*---------------------------------------- les responsives*/
@media screen and (max-width: 780px) {
  .resp-column {
    flex-direction: column;
  }

  .resp-row {
    flex-direction: row;
  }

  .resp-row-reverse {
    flex-direction: row-reverse;
  }

  .resp-nowrap {
    flex-wrap: nowrap;
  }

  .resp-wrap {
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=main.css.map */
