@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Shrikhand&display=swap");
html, body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  height: 100%;
  margin: 0;
  padding: 0;
}

div, figure, img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

p, i, a, h3 {
  margin: 0;
  padding: 0;
  font-style: normal;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  height: 100%;
  display: flex;
}

/*--------------------------mes variables*/
/*MES COULEURS*/
/*--------------------------------MES MIXINS*/
/*MES FONTS*/
/* ici, l'on peut améliorer ce code avec des variables, relire la partie sur les mixins*/
/*mes font-size*/
/*Mes radius*/
html {
  margin: 0;
  padding: 0;
  background: #f6f3e3;
}
html body main {
  max-width: 350px;
  height: 100vh;
  padding: 20px 0;
  margin: 0 auto;
  background: #e1e9f8;
}

.container {
  width: 100%;
  margin: 0;
  padding: 10% 2%;
}
.container--darker {
  background-color: #F7F7F7;
}
.container--white {
  background: #fff;
}

/*------------------------------------- le vrac*/
/*le CTA*/
.button {
  display: block;
  width: fit-content;
  height: 3rem;
  margin: 10px auto;
  padding: 1rem 2rem;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 1.2rem;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 1.2rem;
  font-weight: 300;
  font-size: 15px;
  font-weight: 700;
  border-radius: 50px;
  background: linear-gradient(45deg, #DA86DF, #9B77D4);
}
.button:hover {
  background: linear-gradient(45deg, #9B77D4, #DA86DF);
}

/* le bouton-a : gris-violet*/
.btn-a {
  background-color: #F7F7F7;
  width: 95%;
  height: 5rem;
  border-radius: 20px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: baseline;
}
.btn-a_txt {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 1.2rem;
  font-weight: 300;
  font-size: 15px;
  align-self: center;
}
.btn-a_icone {
  align-self: center;
}
.btn-a:hover {
  background: #fae9fb;
}

.list-number {
  width: 2rem;
  height: fit-content;
  padding: 2%;
  border-radius: 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 1.2rem;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
  font-size: 13px;
  text-align: center;
  background: #9B77D4;
  display: flex;
  justify-content: center;
  align-content: baseline;
  align-self: center;
  margin-left: -3rem;
  z-index: 99;
}

/* la box-prev : pour présenter les différents restaurants*/
.box-prev {
  width: 95%;
  height: 18rem;
  margin: 10px auto;
  background: #fff;
  overflow: hidden;
  border-radius: 20px;
}
.box-prev_figure {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
.box-prev_figureimg {
  width: 100%;
  margin: 0;
  padding: 0;
}
.box-prev_description {
  width: 100%;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  padding: 2% 5%;
}
.box-prev_description h3 {
  display: flex;
  justify-content: space-between;
}
.box-prev_description h3 strong {
  font-size: 15px;
}
.box-prev_description h3 a {
  border: 1px solid #000;
}
.box-prev_description h3 a:hover, .box-prev_description h3 a:active {
  background: linear-gradient(45deg, #DA86DF, #9B77D4);
}
.box-prev_new-tag {
  width: fit-content;
  height: fit-content;
  padding: 2% 4%;
  border-radius: 3px;
  background: #8ADDC6;
  color: #064b37;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 1.2rem;
  font-weight: 300;
  font-size: 15px;
  font-weight: 700;
  position: relative;
  top: -16rem;
  left: 70%;
  z-index: 2;
}

/* le bouton-c : dropdown vert*/
.btn-c {
  background-color: #fff;
  width: 95%;
  height: 5rem;
  margin: auto;
  padding-left: 1rem;
  border-radius: 20px;
  /* le bouton vert*/
}
.btn-c_container {
  width: 100%;
}
.btn-c_container p {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 1.2rem;
  font-weight: 300;
  font-size: 15px;
}
.btn-c_container_heading {
  line-height: 3rem;
}
.btn-c_container_price {
  flex-shrink: 7;
}
.btn-c_drop-over {
  width: 0;
  height: 100%;
  display: initial;
  border-radius: 0 20px 20px 0;
  padding: 0;
  background: #8ADDC6;
}
.btn-c_drop-over svg {
  color: #fff;
}

/*L'animation*/
.btn-c:hover .btn-c_drop-over {
  width: 30%;
}

/*---------------------------------------- les flexboxes*/
.flex {
  display: flex;
}

/*flex-direction*/
.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.row-reverse {
  flex-direction: row-reverse;
}

.column-reverse {
  flex-direction: column-reverse;
}

/*flex-wrap §flex-flow*/
.nowrap {
  flex-wrap: nowrap;
}

.wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.row-wrap {
  flex-flow: row wrap;
}

.column-wrap {
  flex-flow: column wrap;
}

/*justify content*/
.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-evently {
  justify-content: space-evenly;
}

.justify-around {
  justify-content: space-around;
}

/*align-items*/
.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

/*align content*/
.content-start {
  align-content: start;
}

.content-end {
  align-content: end;
}

.content-center {
  align-content: center;
}

.content-between {
  align-content: space-between;
}

.content-around {
  align-content: space-around;
}

/*align-self*/
.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-center {
  align-self: center;
}

.self-baseline {
  align-self: baseline;
}

.self-stretch {
  align-self: stretch;
}

/*order*/
.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

/*flex-grow & flex-shink */
.grow-3 {
  flex-grow: 3;
}

.shrink-3 {
  flex-shrink: 3;
}

.basis-auto {
  flex-basis: auto;
}

/*---------------------------------------- les responsives*/
.resp-column {
  flex-direction: column;
}

.resp-row {
  flex-direction: row;
}

.resp-row-reverse {
  flex-direction: row-reverse;
}

.resp-nowrap {
  flex-wrap: nowrap;
}

.resp-wrap {
  flex-wrap: wrap;
}

/*# sourceMappingURL=main.css.map */
