/*--------------------------------MES MIXINS*/

/*MES FONTS*/

/* ici, l'on peut améliorer ce code avec des variables, relire la partie sur les mixins*/

@mixin main_typo{
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 1.2rem;
  font-weight: 300;
  font-size: $font-size-courant;
}

@mixin typo_white {
  @include main_typo;
  color: $color-white;
}

@mixin typo_bold {
  @include main_typo;
  font-weight: 700;
}


@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin gradient_1{
  background: linear-gradient(45deg, $color-secondary,$color-primary);
}

@mixin gradient_2{
  background: radial-gradient( $color-secondary,$color-primary);
}

/*mes font-size*/
$font-size: 13px 15px 20px 24px;

$font-size-small: nth($font-size, 1);
$font-size-courant: nth($font-size, 2);
$font-size-medium: nth($font-size, 3);
$font-size-big: nth($font-size, 4);

/*Mes radius*/

$border-radius-btn:  0 15px 20px 50px;

@mixin radius_a_c {
  border-radius: nth($border-radius-btn, 3);
}

@mixin radius_hover {
  border-radius: 0 nth($border-radius-btn, 3) nth($border-radius-btn, 3) 0;
}

@mixin radius_round {
  border-radius: nth($border-radius-btn, 4);
}

/*mes ombres*/

@mixin shadow_1 {
  box-shadow: 2px 3px 20px lighten($color-dark, 70%);
}

@mixin shadow_2 {
  box-shadow: 2px 3px 20px lighten($color-dark, 65%);
}

@mixin text_shadow_hell {
  text-shadow: $color-light 1px 0 10px;
}

/*mes hover*/

@mixin hover-effect {
  @include gradient_2;
  -webkit-background-clip: text;
  color: transparent;

}

@mixin darken-primary {
  color: darken($color-primary, 10%);
}

@mixin pastel-secondary {
  background-color: pastel($color-secondary);
}

/*-----------mes animations*/

/*le hover des box et des boutons-a*/

.fadein:hover {
  /* l'animation*/
  animation: fadein 0.3s;
  animation-delay: 0.2s;
}

 @mixin fadein {
  animation: fadein 0.3s;
  animation-delay: 0.2s;


  @-webkit-keyframes fadein {
    0% { opacity: 0.5; }
    25%   { opacity: 0.7;}
    75% {opacity: 0.8}
    100% {opacity: 1}

  }
  @-moz-keyframes fadein {
    0% { opacity: 0.5; }
    25%   { opacity: 0.7;}
    75% {opacity: 0.8}
    100% {opacity: 1}

  }
  @keyframes fadein {
    0% {
      opacity: 0.5;
    }
    25% {
      opacity: 0.7;
    }

    75% {
      opacity: 0.8
    }

    100% {
      opacity: 1
    }
  }
}

 @mixin pulse {
  transform: scale(1.1);
  transition: transform 330ms ease-in-out;
  animation-delay: 2ms;
  animation-name: pulse;

  @keyframes pulse {
    0% {
      transform: scale(0.8);
      opacity: 0.2;
    }
    100% {
      transform: scale(1.1);
      opacity: 1;
    }

  }

}

  /*le hover des call to action*/
  @mixin bounce {
    animation: bounce-top-fade 1.2s ease-in-out;
    animation-delay: 0.2s;

    @keyframes bounce-top-fade  {
      0% {
        transform: translateY(-10px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0.3;
      }
      24% {
        opacity: 0.8;
      }
      40% {
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
      }
      65% {
        transform: translateY(-6px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
      }
      82% {
        transform: translateY(-3px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
      }
      93% {
        transform: translateY(-1px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
      }
      25%,
      55%,
      75%,
      87% {
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
      }
      100% {
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
      }
    }
  }

  /*l'aparition des content */

  .slide-top {
    opacity: 0;
    animation: slide-top 1.75s ease-in-out forwards 0.1s;
    &_1 {
      animation-delay: .1s;
    }

    &_2 {
      animation-delay: .4s;
    }

    &_3 {
      animation-delay: .6s;
    }

    &_4 {
      animation-delay: .8s;
    }

    &_5 {
      animation-delay: 1.2s;
    }

    &_6 {
      animation-delay: 3.2s;
    }

    &_7 {
      animation-delay: 3.3s;
    }
  }

  @keyframes slide-top {
    0% {
      transform: translateY(7px);
      opacity: 0;
    }
    50% {
      transform: translateY(2.5px);
      opacity: 0.5;
    }
    100% {
      transform: translateY(-2.5px);
      opacity: 1;
    }
  }

  @mixin scale-up-hor-right{
    animation: scale-up-hor-right 0.5s ease-in-out;
    transform-origin: right center;

    @keyframes scale-up-hor-right {
      0% {
        transform: translateX(40px);
        opacity: 1;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }

    }
  }

  @mixin rotate-in-center {
    animation: rotate-in-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    @keyframes rotate-in-center {
      0% {
        transform: rotate(-360deg);
        opacity: 1;
      }
      100% {
        transform: rotate(0);
        opacity: 1;
      }
    }
  }
