/*--------------------------------MES MIXINS*/

/*MES FONTS*/

/* ici, l'on peut améliorer ce code avec des variables, relire la partie sur les mixins*/

@mixin main_typo{
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 1.2rem;
  font-weight: 300;
  font-size: $font-size-courant;
}

@mixin typo_white {
  @include main_typo;
  color: $color-white;
}

@mixin typo_bold {
  @include main_typo;
  font-weight: 700;
}


@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin gradient_1{
  background: linear-gradient(45deg, $color-secondary,$color-primary);
}

@mixin gradient_2{
  background: radial-gradient( $color-secondary,$color-primary);
}

/*mes font-size*/
$font-size: 13px 15px 20px 24px;

$font-size-small: nth($font-size, 1);
$font-size-courant: nth($font-size, 2);
$font-size-medium: nth($font-size, 3);
$font-size-big: nth($font-size, 4);

/*Mes radius*/

$border-radius-btn:  0 15px 20px 50px;

@mixin radius_a_c {
  border-radius: nth($border-radius-btn, 3);
}

@mixin radius_hover {
  border-radius: 0 nth($border-radius-btn, 3) nth($border-radius-btn, 3) 0;
}

@mixin radius_round {
  border-radius: nth($border-radius-btn, 4);
}

/*mes ombres*/

@mixin shadow_1 {
  box-shadow: 2px 3px 20px lighten($color-dark, 70%);
}

@mixin shadow_2 {
  box-shadow: 2px 3px 20px lighten($color-dark, 65%);
}

@mixin text_shadow_hell {
  text-shadow: $color-light 1px 0 10px;
}

/*mes hover*/

@mixin hover-effect {
  @include gradient_2;
  -webkit-background-clip: text;
  color: transparent;

}

