/*--------------------------mes variables*/

/*MES COULEURS*/

$color-primary: #9B77D4;
$color-primary-light: #F3E7FF;
$color-secondary: #DA86DF;
$color-accent-light: #8ADDC6;
$color-accent-dark: #197F5D;
$color-light: #F7F7F7;
$color-dark: #393939;
$color-white: #fff;
$color-black: #000;


/*MES FONTS*/

@mixin main_typo{
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 1.2rem;
  font-weight: 300;
  font-size: 15px;
}

/*MES MIXINS*/