
html {
  margin: 0;
  padding: 0;
  background: #f6f3e3;
    body {
          main {
            max-width: 350px;
            height: 100vh;
            padding: 20px 0;
            margin: 0 auto;
            background: #e1e9f8;
          }
    }

}

.container {
  width: 100%;
  margin: 0;
  padding: 10% 2%;
    &--darker{
    background-color:$color-light;
    }
    &--white {
      background: $color-white;
    }
}


/*------------------------------------- le vrac*/

/*le CTA*/

.button {
  display: block;
  width: fit-content;
  height: 3rem;
  margin: 10px auto;
  padding: 1rem 2rem;
  font-size: $font-size-medium;
  letter-spacing: 1px;
  text-align: center;
  @include typo_white;
  @include typo_bold;
  @include radius_round;
  background: linear-gradient(45deg, $color-secondary,$color-primary);
      &:hover{
        background: linear-gradient(45deg, $color-primary,$color-secondary);
      }
}

/* le bouton-a : gris-violet*/

.btn-a {
  background-color: $color-light;
  width: 95%;
  height: 5rem;
  @include radius_a_c;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: baseline;
    &_txt {
      @include main_typo;
      align-self: center;
    }
    &_icone{
      align-self: center;
    }
    &:hover {
      background: pastel($color-secondary);
    }
}

.list-number {
  width: 2rem;
  height: fit-content;
  padding: 2%;
  @include radius_round;
  @include typo_white;
  font-size: $font-size-small;
  text-align: center;
  background: $color-primary;
  display: flex;
  justify-content: center;
  align-content: baseline;
  align-self: center;
  margin-left: -3rem;
  z-index: 99;
}


/* la box-prev : pour présenter les différents restaurants*/



/* le bouton-c : dropdown vert*/

.btn-c {
  background-color: $color-white;
  width: 95%;
  height: 5rem;
  margin: auto;
  padding-left: 1rem;
  @include radius_a_c;
   &_container {
     width: 100%;
     p {
       width: 100%;
       margin: 0;
       padding: 0;
       @include main_typo;
     }
     &_heading {
       line-height: 3rem;
     }
     &_definition {
     }
     &_price {
      flex-shrink: 7;
     }
   }

  /* le bouton vert*/
  &_drop-over{
    width: 0;
    height: 100%;
    display: initial;
    @include radius_hover;
    padding: 0;
    background: $color-accent-light;
      svg {
        color: $color-white;
      }
    }
  }

/*L'animation*/
.btn-c:hover {

  .btn-c_drop-over {
    width: 30%;
  }
}









