
html {
  margin: 0;
  padding: 0;
}
  main {
    width: 100%;
  }

.background {
  width: 100%;
  margin: 0 auto;
  &--darker{
    background-color:$color-light;
  }
  &--moredarker {
    background: darken($color-light ,5%);
  }

  &--white {
    background: $color-white;
  }

  &--black {
    background: $color-dark;
    color: $color-white;
  }
}

.container {
  margin: 0 auto;
  padding: 1rem 0;
  width: 65%;
}


/* responsive*/

@media screen and (max-width: 1247px) {
  .mobile-disable {
    display: none;
  }
}

@media screen and (max-width: 750px) and (max-width: 1622px) {
  .container {
    width: 99%;
  }
}

@media screen and (min-width: 1700px) {
  .container {
    max-width: 1090px;
  }
}



/*------------------------------------- le vrac*/

/*----la home */
.home-top {
  width: fit-content;
  color: $color-dark;
  margin: 0 auto;
    i.fas {margin-right: 0.8rem}
    p {font-size: $font-size-small}
}

.home-hero {
  padding: 8rem 1rem;
  text-align: center;
  @include text_shadow_hell;
}

@media screen and (max-width: 720px) {
  .home-hero {
    height: 50vh;
    padding: 2rem;
    text-align: center;
  }

}

@media screen and (min-width: 720px) {
  .desktop-bg {
    background: linear-gradient(rgba(253,253,253,0.8), rgba(255,255,255,0.5)) , url('https://placekitten.com/1900/800');
  }
}

/*le CTA*/

.button {
  width: $all-element-size;
  margin: 10px auto;
  white-space: nowrap;
  > button{
    display: block;
    width: fit-content;
    height: 3rem;
    padding: 1rem 2rem;
    font-size: $font-size-medium;
    letter-spacing: 1px;
    text-align: center;
    border: none;
    @include typo_white;
    @include typo_bold;
    @include radius_round;
    @include shadow_2;
    background: linear-gradient(45deg, $color-secondary,$color-primary);
    &:hover{
      background: linear-gradient(45deg, $color-primary,$color-secondary);
      -webkit-animation: bounce-top-fade 1.2s ease-in-out both;
      animation: bounce-top-fade 1.2s ease-in-out both;
    }
  }

}

/* le bouton-a : gris-violet*/

.btn-a {

  background-color: $color-light;
  width: $all-element-size;
  height: 5rem;
  @include radius_a_c;
  @include shadow_2;
  margin : 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: baseline;
    &_txt {
      @include main_typo;
      align-self: center;
    }
    &_icone{
      color: $color-dark;
      font-size: 1.2rem;
      align-self: center;
    }
    &:hover {
      background: pastel($color-secondary);
      -webkit-animation: fadein 0.5s ease-in; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 0.5s ease-in; /* Firefox < 16 */
      -o-animation: fadein 0.5s ease-in; /* Opera < 12.1 */
      animation: fadein 0.5s ease-in;

    }
}

.list-number {
  width: 1.9rem;
  height: fit-content;
  padding: 2%;
  @include radius_round;
  @include typo_white;
  font-size: $font-size-small;
  text-align: center;
  background: $color-primary;
  display: flex;
  justify-content: center;
  align-content: baseline;
  align-self: center;
  margin-left: -2rem;
  z-index: 99;
}


/* la box-prev : pour présenter les différents restaurants*/

.box-prev {
  width: $all-element-size;
  height: 14rem;
  margin: 20px auto;
  background: $color-white;
  overflow: hidden;
  @include radius_a_c;
  @include shadow_1;
      &_figure {
        width: 100%;
        height: 10rem;
        object-fit: cover;
        object-position: center;
        overflow: hidden;
            &img {
              width: 100%;
              margin: 0;
              padding: 0;
            }
          }
      &_description {
          width: 100%;
          display: flex;
          flex-direction: column;
          line-height: 1.5rem;
          padding: 2% 5%;
          position: relative;
            h3{
                font-size: $font-size-courant;
                strong
                {
                  @include typo_bold;
                }
              }
            .heart  {
              .far {
                font-size: 20px;
                position: absolute;
                top: 14px;
                left: 230px;
                opacity: 1;
                      &:hover, &:active {
                        opacity: 0
                      }
              }
                .fas {
                  font-size: 20px;
                  position: absolute;
                  top: 14px;
                  left: 230px;
                  opacity: 0;
                  z-index: 10;
                          &:hover, &:active {
                            opacity: 1;
                            color: $color-primary;
                          }
                    }



            }
      }
      &_new-tag {
        width: fit-content;
        height: fit-content;
        padding: 2% 4%;
        border-radius: 3px;
        background: $color-accent-light;
        color: darken($color-accent-light,40%);
        @include typo_bold;
        position: relative;
        top: -13rem;
        left:65%;
        z-index:2;
      }
}


.mobile-disable {
  filter: grayscale(50%);
  background: linear-gradient( 0.25turn, darken($color-light, 2%),lighten($color-light, 2%), darken($color-light, 5%), darken($color-light, 8%));
  border: 1px solid darken($color-light, 4%);
  .box-prev_figure {
    opacity: 0.5;
  }
  .box-prev_description {
    color: darken($color-light, 40%);
      .heart:hover {
        .far {
          opacity: 1;
        }
        .fas {
          display: none;
      }
    }
  }
  .box-prev_new-tag {
    filter: grayscale(1);
     p {
       opacity: 0.8;
       padding: 0 8px;
     }
  }
}


/* le bouton-c : dropdown vert*/

.btn-c {
  background-color: $color-white;
  width: $all-element-size;
  height: 5rem;
  margin: 20px auto;
  padding-left: 1rem;
  overflow: hidden;
  @include radius_a_c;
  @include shadow_1;
   &_container {
     margin-top: 1.2rem;
     width: 100%;
     p {
       width: 100%;
       padding: 0;
     }
     &_heading {
       @include typo_bold;
     }
     &_definition {
       margin-top: 0.5rem;
       overflow: hidden;
     }
     &_price {
       margin: 0.5rem 0 1rem 0;
       flex-shrink: 6;
       @include typo_bold;
     }
   }

  /* le bouton vert*/
  &_drop-over{
    width: 0;
    height: 100%;
    display: initial;
    @include radius_hover;
    padding: 0;
    background: $color-accent-light;
    i {
      color: $color-white;
      opacity: 0;
    }
    }
  }

/*L'animation*/
.btn-c:hover {
    .btn-c_container {
      width: 80%;
    }
  .btn-c_container_definition{
    width: 95%;
    padding: 0 1rem 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .btn-c_drop-over {
    width: 5rem;
    -webkit-animation: scale-up-hor-right 0.5s ease-in-out;
    animation: scale-up-hor-right 0.5s ease-in-out;

    i {
      opacity: 1;
      position: relative;
      top: 37%;
      left: 37%;
      -webkit-animation: rotate-in-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
      animation: rotate-in-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    }
  }
}

/* les animations*/

@-webkit-keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}
@-moz-keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

@-webkit-keyframes scale-up-hor-right {
  0% {
    -webkit-transform: translateX(3rem);
    transform: translateX(3rem);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

}

@-webkit-keyframes bounce-top-fade  {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0.3;
  }
  24% {
    opacity: 0.8;
  }
  40% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@-moz-keyframes bounce-top-fade  {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0.3;
  }
  24% {
    opacity: 0.8;
  }
  40% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top-fade  {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0.3;
  }
  24% {
    opacity: 0.8;
  }
  40% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% { opacity: 0; }
  25%   { opacity: 1;
  75% {opacity: 0.8}
  100% {opacity: 1}
  }
}
@-moz-keyframes fadein {
  0% { opacity: 0; }
  25%   { opacity: 1;
    75% {opacity: 0.8}
    100% {opacity: 1}
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }

  75% {
    opacity: 0.8
  }

  100% {
    opacity: 1
  }
}


/* le footer*/

footer {
  div {
    padding: 0.5rem 0 0.2rem;
    nav {
      div {
        h4 {
          font-size: $font-size-medium;
          font-family: "Shrikhand" , sans-serif;
          letter-spacing: 1px;
          margin: 0 auto;
        }
      }
    }
  }
  div {
    margin: 0 auto;
    nav {
      margin: 0 auto;
      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
        margin-bottom: 0;
        li {
          list-style: none;
          margin: 0 auto 2rem;
          a {
            color: inherit;
            text-decoration: none;
            &:hover {
              color: $color-secondary;
            }
          }
        }
      }
    }
  }

}









