/*---------------------------------------- les flexboxes*/

.flex {
  display: flex;
}

/*flex-direction*/

.row {
  flex-direction:row;
}

.column {
  flex-direction:column;
}

.row-reverse {
  flex-direction:row-reverse;
}

.column-reverse {
  flex-direction:column-reverse;
}

/*flex-wrap §flex-flow*/

.nowrap {
  flex-wrap: nowrap;
}

.wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.row-wrap {
  flex-flow: row wrap;
}

.column-wrap {
  flex-flow: column wrap;
}

/*justify content*/

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-evently {
  justify-content: space-evenly;
}

.justify-around {
  justify-content: space-around;
}

/*align-items*/

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

/*align content*/

.content-start {
  align-content: start;
}

.content-end {
  align-content: end;
}

.content-center {
  align-content: center;
}

.content-between {
  align-content: space-between;
}

.content-around {
  align-content: space-around;
}

/*align-self*/

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-center {
  align-self: center;
}

.self-baseline {
  align-self: baseline;
}

.self-stretch {
  align-self: stretch;
}

/*order*/

.order-1 {
  order:1;
}

.order-2{
  order:2
}

/*flex-grow & flex-shink */

.grow-2 {
  flex-grow: 1;
}

.shrink-3 {
  flex-shrink: 3;
}

.basis-auto {
  flex-basis: auto;
}

/*---------------------------------------- les responsives*/

.resp-column {
  flex-direction:column;
}

.resp-row {
  flex-direction:row;
}

.resp-row-reverse {
  flex-direction:row-reverse;
}

.resp-nowrap {
  flex-wrap: nowrap;
}

.resp-wrap {
  flex-wrap: wrap;
}